include CONTRIBUTING.rst
include HISTORY.rst
include LICENSE
include README.rst

include src/c/Condat_TV_1D_v2.c
include src/condat_tv/tv.pyx

recursive-include tests *recursive-exclude * __pycache__
recursive-exclude * *.py[co]

recursive-include docs *.rst conf.py Makefile make.bat *.jpg *.png *.gifgraft src

